*{
    padding: 0;
    margin: 0;
}
div{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    border: 6px dashed black;
    padding:50px 5px 500px 50px; 
    margin: 50px;
}

#margin{
    margin: 50px;
    height: 100px;
    width: 50px;
}